# Repository - Configuration
# dependencies
/backend/node_modules
/node_modules
/.pnp
.pnp.js
# testing
/coverage
# production
/public/lib
/public/dist
/build
/server-build
# misc
/src/__test__
/.editorconfig
/.vscode
/jest.*.js
.DS_Store
.env
.env.development
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
server.crt
server.key
yarn-debug.log*
yarn-error.log*
